$font-stack: sans-serif, Helvetica;
$primary-color: #b4da17; //Bitter Lemon
$primary-dark: #444444; //Onyx
$secondary-dark: #707070; //Sonic Silver
$primary-light: #fff; //Cultured
/*
img{
  width: 100%;
  height: 42%;
  background-color: red;
}*/
html{
  background: $primary-dark;
}
body{
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 6rem;
  font-weight: bold;
}
h5
{
  font-size: 4rem;
}
p{
  font-size: 3.2rem;
}
a {
   outline: none !important;
   color: $primary-color;
}
a:hover, a:active, a:focus {
  outline: none !important;
  color: $primary-color;
}
.btn-primary {
    color: $primary-dark;
    font-weight: bold;
    background-color: $primary-color;
    border-color: $primary-color;
    border-width: .2em;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: $primary-color;
    font-weight: bold;
    background-color: $primary-dark;
    border-color: $primary-color;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $primary-color;
}

//--- Header
header{
  position: absolute;
  top: 25%;
  left: 10%;
}
header h1{
  margin-bottom: 0;

  font-size: 10.5em;
  letter-spacing: .4rem;
  font-weight: bold;
  font-variant: normal;
  line-height: .8em;
}
header h2{
  font-size: 4.2em;
  letter-spacing: .2rem;
  font-weight: bold;
  font-variant: normal;
}
body section:first-of-type{
  background:url(../resources/img/logo/lime_slice.svg) right bottom no-repeat, #fffd;
  background-size: 80% 50%, 100% 100%;
  background-position: 260% 95%, 0 0;
  min-height: 100vh;
}
.primary-color{
  color: $primary-color;
}
.VideoContainer{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
video{
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw;
  background: url(resources/img/vid/main_bg.gif);
  background-size: cover;
  object-fit: fill;
}
//--- PageLayout
section + section {
  padding-top: 5em;
}

section{
  min-height: 100vh;
  width: 100%;
  padding: 0 5em;
  min-height: 100vh;
  padding-bottom: 2em;
}
.bg-dark {
  background-color: $secondary-dark;
  color: $primary-light;

}
.bg-light{
  background-color: $primary-light;
  color: $secondary-dark;
}

//--- Navbar
.navbar{
  position: fixed;
  width: 100%;
  background-color: $primary-dark;
  z-index: 100;
}
.navbar-nav{
  margin-bottom: 5em;
}
.nav-link, .nav-item{
  font-size: 4rem;
}
.navbar-dark .navbar-toggler span{
  transition: opacity .2s ease;
  height: 100%;
  display: inline-block;
}
.navbar-toggler{
  background-color: $primary-dark;
}
.navbar-dark .navbar-toggler, .navbar-brand, .navbar, .navbar-dark .navbar-nav .nav-link{
  font-weight: bold;
  font-variant: normal;
  color: $primary-light;
  border: none;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-toggler:hover{
  color: $primary-color;
  transition: .2s;
}
.navbar-brand img{
  height: 2em;
}
//--- what we do section
.wedo div img{
  box-shadow: -40px 40px 0px -10px $primary-color;
}
.wedo .row {
  height: 100%;
}

//--- Work with section
.bg-light{
  background:url(../resources/img/logo/lime_slice.svg) right bottom no-repeat, $primary-light;
  background-size: 80% 50%, 100% 100%;
  background-position: 260% 95%, 0 0;
}
.workwith div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workwith div a{
  display: inline-block;
  width: 34%;
  height: auto;
  margin-top: 5em;
}
.workwith div a img{
  width: 100%;
  height: 100%;
  padding: 1em;
  box-shadow: -20px 20px 0px -10px $primary-color;
}
.workwith div a{
  display: inline-block;
  width: 34%;
  height: auto;
  margin-top: 5em;
}

//--- Contact
.contact{
  padding-bottom: 30%;
}
address{
  font-weight: bold;
}
address a{
  text-decoration: underline;
}
label {
  font-weight: bold;
}
.icon{
  display: flex;
  margin: 0 auto;
  justify-content: left;
}
.icon a{
  display: inline-flex;
  font-size: 10rem;
  text-align: center;
  text-decoration: none;
  padding-left: 2rem;
}
//--- products
.products{
  padding-top: 10vh;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  text-decoration: none;

}
.card-shadow{
  box-shadow: -40px 40px 0px -10px $primary-color;
  width: 30%;
}
.card-shadow:hover{
  text-decoration: none;
}
.card{
  width: 100%;
  border-radius: 0;
  margin: 1em;
  transition: .2s;
}
.card:hover{
  transform: scale(1.2);
  text-decoration: none;
}
.card-img-top{
  border-radius: 0;
}


//--- Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (orientation: portrait) {
  .navbar{
    bottom: 0;
    top: initial;
  }
  .navbar-toggler{
    width: 100%;
  }
  .navbar-brand{
    display: none;
  }
  header{
    position: absolute;
    top: 14%;
    left: 0%;
  }
  header h1 {
    font-size: 2.5em;
    width: 100vw;
    text-align: center;
  }
  header h2 {
    font-size: 2.2em;
    padding-left: 5%;
  }
  body section:first-of-type, .bg-light {
    background-size: 110% 60%, 100% 100%;
    background-position: -260% 100%, 0 0;
  }
  .navbarMenuButton {
    padding: 0 0;
  }
  .nav-item{
    margin-top: 1.5em;
  }
  .contact{
    font-size: 3.2em;
  }
  .btn{
    font-size: 1em;
  }
  .form-control {
    font-size: 1em;
  }
  .wedo div img{
    width: 100vw;
    max-width: 100vw;
    margin-left: -5em;

  }
  .contact .links{
    margin-left: 0%;
  }
  .cards{
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .card-shadow{
    width: 90%;
    margin-bottom: 5em;
  }

}

//--- Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: portrait) {
  .navbar{
    bottom: 0;
    top: initial;

  }
  .navbar-toggler{
    width: 100%;
  }
  .navbar-brand{
    display: none;
  }
  header h1 {
    font-size: 15.1em;
  }
  header h2 {
    font-size: 5.2em;
  }
  body section:first-of-type, .bg-light{
    background-size: 200% 40%, 100% 100%;
    background-position: 1% 64%, 0 0;
  }
  .navbarMenuButton {
    font-size: 4em;
    padding: 1em 0;
  }


}

//--- Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wedo div img{
    padding: 2em;
  }
  .wedo.row{
    margin: 1em 0;
  }
  section h2{
    font-size: 4rem;
  }
  p{
    font-size: 2rem;
  }
  .navbar{
    top: 0;
    bottom: initial;
  }
  .navbar-toggler{
    width: auto;
  }
  .navbar-brand{
    display: inline-block;
  }
  .navbar-collapse ul{
    text-align: right;
    margin-right:1%;
    margin-top: 1em;
  }
  .navbarMenuButton{
    padding: 0 0;
    font-size: 2rem;
  }
  .nav-link, .nav-item{
    font-size: 2rem;
  }
  header{
    position: absolute;
    top: 25%;
    left: 10%;
  }
  header h1 {
    width: auto;
    text-align: left;
  }
  header h2 {
    padding-left: 0%;
  }
  body section:first-of-type, .bg-light{
    background-size: 80% 50%, 100% 100%;
    background-position: 260% 95%, 0 0;
  }
  .workwith div{
    width: 70%;
  }
  .workwith div a{
    display: inline-block;
    width: 20%;
    height: auto;
    margin-top: 5em;
  }
  .contact{
    font-size: 1rem;
  }
  .contact{
    padding-bottom: 0;
  }
  .btn{
    font-size: 1rem;
  }
  .contact .links {
    max-width: 30%;
  }
  .row {
    justify-content: space-between;
  }
  .icon a{
    font-size: 6rem;
  }
}

//--- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .wedo div img{
    padding: 2em;
  }
  .mb-lg-5, .my-lg-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  p{
    font-size: 2em;
  }
  section h2{
    font-size: 6rem;
  }
  .navbar{
    top: 0;
    bottom: initial;
  }
  .navbar-toggler{
    width: auto;
  }
  .navbar-brand{
    display: inline-block;
  }
  .navbar-collapse ul{
    text-align: right;
    margin-right:1%;
    margin-top: 1em;
  }
  .navbarMenuButton{
    padding: 0 0;
    font-size: 2em;
  }
  .nav-lin, .nav-itemk{
    font-size: 3rem;
  }
  header{
    position: absolute;
    top: 25%;
    left: 10%;
  }
  header h1 {
    width: auto;
    text-align: left;
  }
  header h2 {
    padding-left: 0%;
  }
  body section:first-of-type, .bg-light{
    background-size: 80% 50%, 100% 100%;
    background-position: 260% 95%, 0 0;
  }
  .workwith div{
    width: 70%;
  }
  .workwith div a{
    display: inline-block;
    width: 20%;
    height: auto;
    margin-top: 5em;
  }
  .contact{
    font-size: 1em;
  }
  .contact{
    padding-bottom: 0;
  }
  .btn{
    font-size: 1em;
  }
  .contact .links {
    max-width: 30%;
  }
  .row {
    justify-content: space-between;
  }
  .icon a{
    font-size: 6rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
