/*
img{
  width: 100%;
  height: 42%;
  background-color: red;
}*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F4F2F3;
}

a {
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

header {
  position: absolute;
  top: 25%;
  left: 10%;
}

header h1 {
  margin-bottom: 0;
  font-size: 10.5em;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 0.8em;
}

header h2 {
  font-size: 4.2em;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-variant: small-caps;
}

body section:first-of-type {
  background: url(../resources/img/logo/lime_slice.svg) right bottom no-repeat, #F4F2F3dd;
  background-size: 80% 50%, 100% 100%;
  background-position: 260% 95%, 0 0;
  height: 100vh;
}

.VideoContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

video {
  height: 100%;
  width: 177.77777778vh;
  /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw;
  background: url(resources/img/vid/main_bg.gif);
  background-size: cover;
}

section + section {
  padding-top: 5em;
}

section {
  height: 100vh;
  width: 100%;
  padding: 0 5em;
}

.bg-dark {
  background-color: #707070;
  color: #F4F2F3;
}

.bg-light {
  background-color: #F4F2F3;
  color: #707070;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #444444;
  z-index: 100;
}

.nav-link, .nav-item {
  font-size: 1.2em;
}

.navbar-dark .navbar-toggler span {
  transition: opacity 0.2s ease;
  height: 100%;
  display: inline-block;
}

.navbar-toggler {
  background-color: #444444;
}

.navbar-dark .navbar-toggler, .navbar-brand, .navbar, .navbar-dark .navbar-nav .nav-link {
  font-weight: bold;
  font-variant: small-caps;
  color: #F4F2F3;
  border: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-toggler:hover {
  color: #b4da17;
  transition: 0.2s;
}

.navbar-brand img {
  height: 2em;
}

.wedo div img {
  display: inline-block;
}

.bg-light {
  background: url(../resources/img/logo/lime_slice.svg) right bottom no-repeat, #F4F2F3;
  background-size: 80% 50%, 100% 100%;
  background-position: 260% 95%, 0 0;
  height: 100vh;
}

.workwith div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workwith div a {
  display: inline-block;
  width: 34%;
  height: auto;
  margin-top: 5em;
}

.workwith div a img {
  width: 100%;
  height: 100%;
}

.workwith div a {
  display: inline-block;
  width: 34%;
  height: auto;
  margin-top: 5em;
}

@media (min-width: 576px) {
  h2 {
    font-size: 6em;
    font-weight: bold;
  }

  p {
    font-size: 3.5em;
  }

  .navbar {
    bottom: 0;
    top: initial;
  }

  .navbar-toggler {
    width: 100%;
  }

  .navbar-brand {
    display: none;
  }

  header {
    position: absolute;
    top: 25%;
    left: 0%;
  }

  header h1 {
    font-size: 2.5em;
    width: 100vw;
    text-align: center;
  }

  header h2 {
    font-size: 2.2em;
    padding-left: 5%;
  }

  body section:first-of-type, .bg-light {
    background-size: 110% 60%, 100% 100%;
    background-position: -260% 100%, 0 0;
  }

  .navbarMenuButton {
    font-size: 5em;
    padding: 0 0;
  }

  .nav-item {
    font-size: 2.2em;
    margin-top: 1.5em;
  }
}
@media (min-width: 768px) {
  .navbar {
    bottom: 0;
    top: initial;
  }

  .navbar-toggler {
    width: 100%;
  }

  .navbar-brand {
    display: none;
  }

  header h1 {
    font-size: 15.1em;
  }

  header h2 {
    font-size: 5.2em;
  }

  body section:first-of-type, .bg-light {
    background-size: 200% 40%, 100% 100%;
    background-position: 1% 80%, 0 0;
  }

  .navbarMenuButton {
    font-size: 3em;
    padding: 1em 0;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 2em;
  }

  .navbar {
    top: 0;
    bottom: initial;
  }

  .navbar-toggler {
    width: auto;
  }

  .navbar-brand {
    display: inline-block;
  }

  .navbar-collapse ul {
    text-align: right;
    margin-right: 1%;
    margin-top: 1em;
  }

  .navbarMenuButton {
    padding: 0 0;
  }

  header {
    position: absolute;
    top: 25%;
    left: 10%;
  }

  header h1 {
    width: auto;
    text-align: left;
  }

  header h2 {
    padding-left: 0%;
  }

  body section:first-of-type, .bg-light {
    background-size: 80% 50%, 100% 100%;
    background-position: 260% 95%, 0 0;
  }

  .wedo div {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 50%;
    justify-content: space-between;
  }

  .wedo div p {
    width: 50%;
  }

  .wedo div img {
    float: right;
    max-height: 100%;
  }

  .workwith div {
    width: 70%;
  }

  .workwith div a {
    display: inline-block;
    width: 20%;
    height: auto;
    margin-top: 5em;
  }
}
@media (min-width: 1200px) {
  .navbar {
    top: 0;
    bottom: initial;
  }

  .navbar-toggler {
    width: auto;
  }

  .navbar-brand {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
